        <div class="jumbotron">
            <div class="row justify-content-center">
                {{#if user}}
                    <h1 class="text-center" id="welcome">Bem vindo a Lista de Tarefas, {{userName}}!</h1>
                {{else}}
                    <h1 class="text-center" id="welcome">Bem vindo a Lista de Tarefas!</h1>
                {{/if}}
    
            </div>
            <div class="container">
                <hr>
                <div class="row justify-content-center">
                    <p class="text-center">Listas de tarefas são um dos melhores métodos para aumentar a sua produtividade. Uma rotina pode ser confusa e cheia de coisas para fazer se você trabalha ou estuda, e especialmente se faz as duas coisas. Além disso, é uma ótima sensação riscar uma tarefa da lista depois de concluí-la.</p>
                    <a href="/tarefas/tarefas" class="btn btn-success mt-5" class="text-center"><h4>Experimente você mesmo.</h4></a>
                </div>
            </div>
        </div>

        <div id="lista">
            <div class="container mt-5 mb-3">
                <div class="row justify-content-center">
                    <h1 class="text-center">Motivos para usar uma lista de tarefas</h1>
                </div>
            </div>
            
            <div class="container">
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Praticidade</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
    
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Organização</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
    
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Acesso remoto</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
    
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Satisfação</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
        </div>
        <div class="container">
            <div class="col">
                <div class="row justify-content-center">
                    
                    <a href="/tarefas/tarefas" class="btn btn-success mt-5 ml-4" class="text-center"><h3>Ótimo! Eu quero criar minha Lista de Tarefas.</h3></a>
                </div>
            </div>
        </div>