<div class="container mt-5">
    <div class="row justify-content-center">
        <div class=" col-md-5 card border border-secondary mt-5 bg-light">
            <div class="card-body">
                <form action="">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control border border-dark" placeholder="Exemplo: user@email.com">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" class="form-control border border-dark">
                    </div>

                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-success col-md-6">Entrar</button>
                    </div>

                    <div class="row pt-4 justify-content-center">
                        <p>Ainda não tem uma conta? <a href="/register" class="text-info">Cadastre-se</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>