<div class="container mt-3">
    <div class="row justify-content-center">
        <div class=" col-md-5 card border border-secondary mt-2 bg-light">
            <div class="card-body">
                <form action="">
                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" class="form-control border border-dark" placeholder="Exemplo: João da Silva Ramos">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control border border-dark" placeholder="Exemplo: user@email.com">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" class="form-control border border-dark">
                    </div>

                    <div class="form-group">
                        <label for="senha2">Confirme a senha</label>
                        <input type="password" id="senha2" name="senha2" class="form-control border border-dark">
                    </div>

                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-success col-md-6">Cadastrar</button>
                    </div>

                    <div class="row pt-4 justify-content-center">
                        <p>Já tem uma conta? <a href="/login" class="text-info">Faça login</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>